class Kongctl < Formula
  desc "Developer CLI for Kong"
  homepage "https://github.com/Kong/kongctl"
  version @VERSION@
  license "Apache-2.0"

  on_macos do
    on_arm do
      url @DARWIN_ARM64_URL@
      sha256 @DARWIN_ARM64_SHA@
    end
    on_intel do
      url @DARWIN_AMD64_URL@
      sha256 @DARWIN_AMD64_SHA@
    end
  end

  on_linux do
    on_arm do
      url @LINUX_ARM64_URL@
      sha256 @LINUX_ARM64_SHA@
    end
    on_intel do
      url @LINUX_AMD64_URL@
      sha256 @LINUX_AMD64_SHA@
    end
  end

  def install
    bin.install "kongctl"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/kongctl version --full")
    assert_match "__kongctl_debug", shell_output("#{bin}/kongctl completion bash")
    assert_match "#compdef kongctl", shell_output("#{bin}/kongctl completion zsh")
  end
end
