name: CI Test

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: git config --global url.https://$GITHUB_TOKEN@github.com/.insteadOf https://github.com/
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_PRIVATE_READ }}
      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      - name: Install clipboard build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev
      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.1.2
      - name: test
        run: |
          go test -race -count=1 ./...
      - name: test integration
        run: |
          go test -v -count=1 -tags=integration -race ${GOTESTFLAGS} ./test/integration/...
